{% extends 'base.html' %}

{% block title %}Sign Up | FreelanceHub{% endblock %}

{% block content %}

<section class="login-page">

    <!-- Background Shapes -->
    <div class="shape shape1"></div>
    <div class="shape shape2"></div>
    <div class="shape shape3"></div>

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-6 col-md-8">

                <div class="login-box">

                    <div class="text-center mb-4">

                        <div class="login-icon">
                            <i class="bi bi-person-plus-fill"></i>
                        </div>

                        <h2 class="fw-bold mt-3">
                            Create Your Account
                        </h2>

                        <p class="text-muted">
                            Join FreelanceHub and start your freelancing journey.
                        </p>

                    </div>

                    <form method="POST">

                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            {{ form.username }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            {{ form.email }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Role</label>
                            {{ form.role }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            {{ form.password1 }}
                        </div>

                        <div class="mb-4">
                            <label class="form-label">Confirm Password</label>
                            {{ form.password2 }}
                        </div>

                        <button type="submit" class="btn login-btn w-100">
                            <i class="bi bi-person-check-fill"></i>
                            Create Account
                        </button>

                    </form>

                    <hr>

                    <p class="text-center mb-0">
                        Already have an account?

                        <a href="{% url 'login' %}" class="fw-bold text-decoration-none">
                            Login Here
                        </a>
                    </p>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}